[2020-07-05 15:10] cskozlowski opened #118 "SlenderFan 2.4 Upgrade and E3v6 compatibility question"
I currently have a E3v6 hotend.  When I fit the printhead_rear_e3dv6.stl (standard voron 2.4 part) to the duct.stl  (part of this build), the cutout for the e3v6 hotend is not correct.  Looks like the duct.stl part might be ready for a mosquito hotend and not the E3v6.  If I could get access to the duct.step file then I could modify to accomodate the E3v6 part on my own.

[2020-07-05 17:22] FHeilmann commented on #118
@WarriorOfWire thoughts?

[2020-07-05 17:26] cskozlowski commented on #118
In the meantime,  I downloaded the duct.stl file into Fusion360 and modified it to support the e3v6 hotend.  Printing it and will check fitment later today.

[2020-07-10 05:29] WarriorOfWire commented on #118
sure, cad is in this pr:  https://github.com/VoronDesign/VoronUsers/pull/120

[2020-07-10 06:48] FHeilmann commented on #118
Can you also fix this issue in that pr please?

[2020-07-10 16:31] WarriorOfWire commented on #118
No, I don't have a v6 to test with.  Would need to modify the printhead_front_e3dv6.stl part.  I also don't have a Dragon to test its own separate special part.  This is a feature request, not an issue - and cad was requested as one possible resolution, which is at least in that pr.

Might be best to consider a revision to the afterburner to decouple hotend mounting from layer fan ductwork.

[2020-07-10 16:46] FHeilmann commented on #118
Be that as it may, if there is a non-functional part in your mod I'd rather remove it for now. Otherwise more people might print it and end up with a non-functioning printer due to part incompatibilities.

[2020-07-10 16:51] cskozlowski commented on #118
I designed a e3v6 part that works with your design.  I also redesigned the duct and fan cover (lower two parts) so there is no overhang issue.  Let me know if you want me to send the *.stl files your way.  I have it installed and it does function.  In your readme, might want to make sure folks need to change out their print fan (40mm x 40mm x 10mm).  It works well for ABS but the fan is really und

[2020-07-10 17:26] WarriorOfWire commented on #118
It's the first thing in the BoM in the PR.  I'll put it in the intro.

It's in the BoM.  I'll write a brief introduction at the top to clarify.

Good to know.  I print pla very rarely and do not need the large 2.4 fan 99%+ of the time.  I'll mention it in the intro.

Feel free to sling me your stls on Discord.  I'll take a look; some of the design was pretty intentional & I'm curious what you chan

[2020-07-28 10:27] mateuszbrzezinski opened #128 "Afterburner files available on request"
"Afterburner files available on request" How can I get Afterburner files for 2.4?

[2020-07-30 15:38] spott commented on #128
what files are you looking for?

The f3d files for 2.4 contain all of afterburner.

[2020-07-30 15:41] mateuszbrzezinski commented on #128
Sorry, I though it will be linked to what I meant.
I meant this: https://github.com/VoronDesign/VoronUsers/tree/8f43acee8ba7549add9e005fe9325dc8d10554b6/legacy_printers/printer_mods/Slidr/PanzerChain

there is written: (Afterburner files available on request)

[2020-07-31 16:29] spott commented on #128
Ah.

I would hop on discord and ping that user (Slidr), he would be the one to ask.

[2020-08-02 11:53] FHeilmann commented on #128
@Slidr666 your presence is requested :)

[2020-08-02 11:54] FHeilmann commented on #118
@cskozlowski did you get in touch on discord? If so I think we can close this issue, as the appropriate notes have been added to the files in a PR thats currently under review.

[2020-08-02 12:00] cskozlowski commented on #118
Agreed, if the PR is currently under review.  Close it.

[2020-08-02 12:13] #118 closed

[2020-08-09 14:11] Slidr666 commented on #128
Actully readme seems to be outdated there.  There are already Afterburner Beta files available.

[2020-08-25 11:39] FHeilmann commented on #128
@mateuszbrzezinski I think this issue is "resolved" now right? I hope you've gotten the parts you've needed from Slidr on discord. If not, feel free to reopen this issue.

[2020-08-25 11:39] #128 closed

[2020-09-11 01:21] hernsl opened #152 "Hour counter interference on 250mm version"
The corner of the hour counter does not sit flush with the skirt because the corner is obstructed by the raised curved surface of the skirt.

[2020-09-15 08:23] FHeilmann commented on #152
@MarcPot can you look into this please?

[2020-09-15 14:06] hernsl commented on #152
I wanted to add additional detail. It may be appropriate to close this ticket, may not be. At the least, additional specifications for the hour counter are required.

I purchased a counter only to find it was VAC as opposed to DC. I ordered a DC one on Amazon and it fit without problem. The AC one did not work. Both look nearly identical, except the AC version has slightly larger mounting flanges

[2020-09-15 14:15] MarcPot commented on #152
I was planning to edit the mod anyways with a crude sketch and klipper configs, so i'll update the CAD anyways at the same time. Good that you had another option, saves some wasted plastic!

[2020-09-22 16:14] MarcPot commented on #152
@FHeilmann I fixed it in https://github.com/VoronDesign/VoronUsers/pull/158

In the new version the hour counter overlaps the plug panel. But this was needed to get enough clearance, I also added a warning in the readme.md for this.

[2020-09-29 21:39] FHeilmann commented on #152
I just merged #158. FYI @hernsl.

[2020-09-29 21:39] #152 closed

[2020-10-13 13:10] gchedzhemov opened #173 "Use /dev/serial/by-id instead of /dev/serial/by-path/ for SKR1.3 setup guide (and any other)"
@jdlongenecker, I would suggest updating `ls -l /dev/serial/by-path/` instructions to be `ls -l /dev/serial/by-id` in order to avoid issues with controllers being swapped on USB ports later in the build or during troubleshooting

E.g, instead of
[code]

[code]

Happy to make the edits for you if given access to source doc.

[2021-01-09 17:19] Lefuneste83 opened #228 "Different wiring required for SKR Mini E3 V2.0"
First of all thank you for this great little mod.
I have encountered a little difficulties wiring it to the latest SKR Mini E3 V2.0. On this card, Klipper does not support I2C protocol on the LCD connector.
Then you need to :
-Wire the screen to the Raspberry Pi directly : SDA (PIN 3), SCL (PIN 5), 5V (PIN 2 or 4) and GND (PIN 6 or 9 or other GND available). See GPIO pinouts on google.
-Enable I2C

[2021-01-19 00:05] FHeilmann commented on #173
In order to streamline our docs we have moved most documentation to VoronDesign/Voron-Documentation repository, which will soon be turned into a whole website just for documentation.

As you can probably see by now (or later today) the guide you're referencing has been removed from this repo, that's why I'm closing this issue for now.

Feel free to check the docs once they are available and report

[2021-01-19 00:05] #173 closed

[2021-01-19 00:07] FHeilmann commented on #228
Feel free to submit an example config for this board to be stored here alongside the other configurations. At this point I'm not sure if this is a PSA or if you're raising this issue against something already included in this repo.

I'll close this issue for now, but feel free to get back to me about it.

-Florian

[2021-01-19 00:07] #228 closed

[2021-03-07 00:32] seacred opened #255 "Quick question according to the Probe"
I'm currently building my own and i got a quick question:
Should there be used a BAT85 Diode for the Probe?
Can't find any wiring diagram according to correctly connect the probe to my SKR E3 mini V2.
Can somebody provide some help?

[2021-03-08 08:27] #255 closed

[2021-04-10 20:22] grantr opened #283 "No duplicates and no additions policies discourages participation"
(Response to https://github.com/VoronDesign/VoronUsers/pull/258#pullrequestreview-617054996):

@KiloQubit I understand why that's a policy, but it combines with the no duplicates policy in discouraging ways.

If the only way to get a mod into the repository is to submit something unique or integrate it with an existing mod, then there are potentially many refinements to those mods that will never

[2021-04-10 20:34] KiloQubit commented on #283
+ @FHeilmann

[2021-04-11 16:59] FHeilmann commented on #283
Let me try and start with a bit of history on VoronUsers so I can later motivate why these rules are in place:

Before VoronUsers, there was a "community mods" folder in each of the main printer repositories. This quickly became a nuisance, because they were shipped with every major voron release, and their submission cluttered up the development of the printers themselves.

Thus, we were looking

[2021-04-20 06:21] grantr commented on #283
Thank you for your extensive and clear answer Florian! Sorry for the delay in answering; I had to find time to give your reply justice.

It helps to know some of the initial motivations. I think your focus on functionality is good for the community and makes sense.

I'm not sure this principle is working as intended. A concrete example: #207 "improves upon an existing mod in a meaningful way", suc

[2021-05-05 03:05] awickham10 commented on #283
Random third party chiming in. I really like the idea of the metadata file for the mods. I would throw out there that maybe it isn't one massive file but a standard file per mod. That would be much easier to maintain than managing conflicts a massive single file. For example, each mod folder would have a metadata.yml file with the information in there. Merge conflicts could be a thing of the past!

[2021-05-05 13:44] claytono commented on #283
@awickham10 That's come up before, and in the past there has been some indication that sort of thing would be welcome.  I got the impression that mostly someone needed to step up with a prototype for discussion.

[2021-05-05 13:52] awickham10 commented on #283
I'm happy to take that on. Will message back here when I have a prototype.

[2021-05-09 18:10] mhk-v0 opened #311 "color_order_GRB config option has been removed"
The neopixel color_order_GRB config option has been removed. If necessary, update the config to set the new color_order option to RGB, GRB, RGBW, or GRBW.

So it has to be `color_order: GRB` in the printer.cfg

Just wanne let people know who try to copy paste the config. Thanks

[2021-05-12 08:38] DoXer67 opened #312 "Lumentec deliver wrong profiles"
The linked seller of the profiles "Lumentec" delivers wrong profiles. The described profiles are 18,35mm and not 17mm.

This just for information.

[2021-05-28 20:25] Cataclysm commented on #312
Have the same issue. Printed parts will not fit the 18.35mm profiles.

[2021-05-31 08:31] DoXer67 commented on #312
Get in contact with with Lumentec. I returned the 18,35mm and get the correct ones.

[2021-06-03 20:32] netweaver1970 opened #336 "Galileo Extruder supported in your BadNoob AB design?"
Hi,
I would like to use the latest Galileo extruder design together with the BadNoob improved AB design, using a Dragon HF hot-end.

I'm not sure both designs are compatible right now, Can you comment on that?

Thanks.

[2021-06-03 21:36] AaronHerrick commented on #336
Yes, I used Galileo while developing ab-bn, and Jared has been a big help.

[2021-06-04 09:24] netweaver1970 commented on #336
Thanks. This was just for confirmation. Closing the issue.

[2021-06-04 09:24] #336 closed

[2021-06-08 08:27] Irev-Dev opened #340 "Consider linking with CadHub"
Just a quick suggestion since you've got both openscad files and STL files in this repo and I'm sure it's a pain updating the STLs each time there's a change to the SCAD code.

CadHub has a feature that allows you to link to an external url to fetch code.

To take @evandepol 's the DIN-Rail-Cable-Mount as an example, the following url: https://github.com/VoronDesign/VoronUsers/blob/master/printer_

[2021-06-10 02:29] raymondh2 commented on #340
The files included are not managed by the Voron Design team. We also require STLs be included in the repo itself not hosted externally.

[2021-06-10 02:29] #340 closed

[2021-07-12 18:06] xp1ratex commented on #312
Got those from Lumentec, had to scale the printed piece to 104%, now its working.

[2021-08-14 23:00] Exerqtor opened #401 "Slicer start g-code"
Like how you've set this whole thing up and most of it speeks for itself. I'm just a little curious tonhow your slicers start g-code is setup since i can't see anything that will trigger the prime macro.

[2021-08-14 23:01] #401 closed

[2021-08-15 19:13] jangrewe commented on #283
I'm that guy with the Voron Mods page, and i'd love to see any kind of metadata, be it a YAML, JSON, or even (if really necessary) an XML.
I'm currently parsing the Markdown files and try to make some uneducated guesses, with fairly usable success, but just using straight data without having do do any parsing would be a lot nicer...

I'd be happy to create PR that has a e.g. "metadata.json" genera

[2021-08-17 02:39] madorax251 opened #404 "where can i get printer.cfg for this mod?"

[2021-08-17 11:48] diginfo opened #406 "STEP File ??"
Hi, don't suppose you can add a step or fusion 360 native file so that I can modify the skirt to use a SH1106 1.3" OLED ?

Many Thanks

[2021-08-19 09:19] samirthegreat opened #409 "Ender 3 V2 Compatibillity?"
Is this mod compatible with ender 3 v2

[2021-08-22 18:12] dragsterbox opened #411 "Backpanel pcb for fan control"
Hello,

Where can I get this pcb ?

![image](https://user-images.githubusercontent.com/37857756/130365539-4b7fed5a-92e8-43e3-bd4d-0384013b8987.png)

[2021-08-22 19:29] VinnyCordeiro commented on #411
On the Voron Hardware repo: https://github.com/VoronDesign/Voron-Hardware/tree/master/V0_PCB_Mod

[2021-08-25 23:00] diginfo opened #414 "Procedure to Add Mods"
Well I have searched, but I just cannot seem to find the step by step instructions to add an item to this repo.

Could someone provide me with a step by step guide on how to add ?

Thanks

[2021-08-30 17:59] aspunk opened #419 "VoronUsers"

[2021-08-30 18:04] #419 closed

[2021-08-30 18:56] moebis opened #420 "Non-IGUS cable chain compatible mounts"
Is there a 3 hole version of this mod available for the other popular type of cable chains? Similar to this: https://github.com/VoronDesign/Voron-Afterburner/blob/master/STLs/Gantry/Direct_Feed/chain_anchor_1824_3hole.stl

[2021-09-11 15:25] diego589 commented on #414
https://i.imgur.com/qQo0DxR.gifv

[2021-09-23 21:38] getrav commented on #404
You wouldn't need to change anything unless you change the pin out on your MCU.
It's just a different way to feed wires.

[2021-09-25 00:55] Ramalama2 commented on #409
The voron 2.4 mod 🤣

[2021-10-08 18:47] bigjoe4265 opened #483 "Unable to clone repo due to filename length (GadgetAngel)"
Unable to clone repo.  Filename is too long.

printer_mods/GadgetAngel/Cricut_Voron_Logos/Voron_SW_Logo/1_Color_Layer_WithOut_Logo_Outline_WithOut_Silhouette/Cricut_VoronSW_Logo_RearPanel_1Layer_WithOut_Logo_Outline_WithOUT_Silhouette_and_BackPanel.jpg: Filename too long
error: unable to create file

error: unable to create file printer_mods/GadgetAngel/Cricut_Voron_Logos/Voron_SW_Logo/1_Color_Lay

[2021-10-12 17:22] crashmaxx opened #491 "wile-e1 Deck_Panel_Support_Clips adjustable support step file missing"
[https://github.com/VoronDesign/VoronUsers/tree/master/printer_mods/wile-e1/Deck_Panel_Support_Clips](url)
@wile-e1

wile.e-deck_panel_support_lower_adjustable(3-6mm).stp is the same file as wile.e-deck_panel_support_lower_4mm.stp so the step file of the adjustable version is not in the repo.

The stl files are correct, the adjustable and 4mm versions are different.

[2021-10-20 21:15] Rodrigormaraujo opened #505 "Volcano version, would it be possible?"
Is there any chance of having a version for e3d volcano? Thanks.

[2021-10-28 10:08] matthew-humphrey opened #514 "Small change to README for Voron 0.1"
Love the slim handles mod. You might want to add a comment that these work with the v0.1 as well. The only difference that I can see is that there is no clip to remove, so the user will need to insert 4 nuts on each side instead of 3.

[2021-10-28 10:09] #514 closed, assigned to nobody

[2021-11-12 07:29] simonrwatts opened #524 "M3 Heat insert in AB-BN BOM needs detail updating"
@AaronHerrick BOM currently shows "M3x0.5 Heat set insert". This made me and others start searching. I had to search Discord for an answer.

Ideally it would read 'M3x5x4mm Heat Set insert (Same as Voron BOM)' to make it 100% clear :)

[2021-11-15 19:48] strayr commented on #409
I mean if you print an voron carriage for an ender and use one of the supported hotends, then yes, if you want to use a creality heatsink for some odd reason, then no you need to find someone to do that...

Do I have a voron carriage for ender3v2? yes, am I modding this to fit my creality heatsink? yes. Why? I have a bunch of other printers and like the modularity of the toolhead. And an old slice

[2021-11-28 07:26] knight350147 opened #538 "Help：The temperature of the extruder header can not rised 190+ °C"
Hi guys:
    When I test my machine(Voron 2.4 Extruder PID test),The fludd always reports errors like the picture.And the temperature freezd 190°C  ：

![1](https://user-images.githubusercontent.com/95066460/143733112-9f3dba51-29ee-4f50-9e52-58e55bb91148.png)

The printer.cfg
![image](https://user-images.githubusercontent.com/95066460/143733205-5fafef01-9369-4ce5-8ad8-dde52d3bc75a.png)

Board：fyset

[2021-11-28 07:34] knight350147 commented on #538
remark：sensor type like this：
![image](https://user-images.githubusercontent.com/95066460/143733855-4fd7537a-03fd-4306-9166-42747e218a87.png)

[2021-12-01 14:01] jtrmal opened #540 "Sizing of the heatserts holes in the spacelab2021/Orbiter-Clockwork"
Hi, the two "upper" heatsert holes seem to be a tad bit large -- the voron-standard heatserts require no force at all to be inserted. I see the specced ones would not have this problem, but are they really crucial? The other (4.7mm) holes are ok for the "voron-standard" heatserts
<img width="1001" alt="Screen Shot 2021-12-01 at 8 57 43 AM" src="https://user-images.githubusercontent.com/11054175/14

[2021-12-01 14:11] jtrmal commented on #406
better to ping the original author of the mod (one-level up directory) or at least the path to it. Otherwise it's not obvious about what skirt you mean.

[2021-12-01 18:05] jtrmal commented on #540
If there is any interest, I can provide "fixed" version. Also can provide an igus chain anchor model.

[2021-12-06 08:56] FHeilmann commented on #538
This is not the place to ask for priner supprot, please join our discord or use our reddit instead.

[2021-12-06 08:56] #538 closed

[2021-12-06 08:57] FHeilmann commented on #311
Thanks for this issue, I believe all official Voron configurations have been updated to reflect that. if you catch that error in any of the configurations we put out, please let us know.

[2021-12-06 08:57] #311 closed

[2021-12-06 08:58] FHeilmann commented on #312
Hi, it seems to me this was a supplier issue, that has since been resolved? Anyway since this issue has not seen any traffic for some time, I'm going to close it for now.

[2021-12-06 08:58] #312 closed

[2021-12-06 08:59] FHeilmann commented on #404
Since the author has apparently abandoned this issue I'll close it for now.

[2021-12-06 08:59] #404 closed

[2021-12-06 08:59] FHeilmann commented on #409
@samirthegreat did you find what you're looking for?

[2021-12-06 09:00] FHeilmann commented on #411
Since this issue seems to have been resolved/answered I'll close it for now.

[2021-12-06 09:00] #411 closed

[2021-12-06 09:00] FHeilmann commented on #414
@diginfo does that answer your question or do you need any additional assistance?

[2021-12-06 09:03] FHeilmann commented on #483
Unfortunately the powershell and GUI versions of github don't like long filenames. Please use the github command line (from cmd or a bash shell) to clone the repo, or download it using githubs "Download as zip" option.

[2021-12-06 09:03] #483 closed

[2021-12-06 09:10] FHeilmann commented on #505
Official Voron toolheads won't support the Volcano. Since you haven't mentioned any mod in particular I'd assume you're in the wrong place. This repository is meant for community submitted mods. If you want to commission a mod, you're better off asking on our discord or reddit whether someone will design a toolhead for you.

[2021-12-06 09:10] #505 closed

[2021-12-06 12:55] AaronHerrick commented on #524
OK, I'll make the update

[2021-12-10 15:53] spacelab2021 commented on #540
A lot of the issues have been addressed in my own repo and I haven't had a chance to update it in the voronusers repo. I should update the users repo shortly with the issues previously fixed.

[2021-12-24 00:24] tlgrimmy opened #552 "Fluidd - Can't upload gcode files to print - "root is not available""
I'm really new to all of this, so I apologize ahead of time if I'm posting things in the wrong spot or not including key info. I just put my Voron 2.4 together and managed to hack my way through the Klipper and Fluidd installs. My latest issue is that I can't seem to upload and print anything. I assume you upload by going to the Jobs tab and clicking the "+"  to upload a new file, just like I did

[2021-12-24 20:00] tlgrimmy commented on #552
Figured out that this was a much simpler fix than I thought. I just had to add [virtual_sdcard] to the printer.cfg file. I had been ignoring dealing with those three errors that came up initially because a number of videos I had watched showed the same errors and they all mentioned they'd just deal with them later. Little did I know that you cannot upload print jobs without the [virtual_sdcard] co

[2021-12-30 00:38] raymondh2 commented on #552
This isn't the right place for fluidd support.

[2021-12-30 00:38] #552 closed

[2022-01-18 09:08] rongith opened #582 "M3x16 hole length for "GE5C No Endstops" mod is wrong"
@hartk1213 . The M3x16 hole length for "GE5C No Endstops" mod is wrong.

![image](https://user-images.githubusercontent.com/7966342/149903695-a93f01a5-3f14-47f9-9f7e-aa06a521f9bb.png)
If you use M3x16 screw, you should have 16-2 = 14 mm of hole length. In your design, the hole length is only 13mm long then you have the screw touching the end of the threading of the MGN9 carriage.

You have good ho

[2022-01-20 21:57] Kevinthem0nk opened #585 "Hidden Cable Z Cover Not 2.4 compatible."
After tearing down and not really thinking about it I found that the cover can't fit under the 2.4's Z linear rails as I think is intended.  The 2.4 part and the dimension on the rail height in the manual are 3mm. I plan to edit the file for 2.4 builds in that area or maybe move the Z rails up 3mm to give them a small amount of clearance. Not really keen on moving the rails though. Please include

[2022-01-24 16:27] gsdaemon opened #593 "LoudOwl aka Stabby airflow issue"
@Baltojikale - first of all, thank you for the amazing mod! Everything was printing nice and fit.

Just one issue: Have you/anyone else made a water test for the fans? Both of my fans are spinning fine, but I have the impression that just one side is effective since the air is mostly blowing from the right hole near the nozzle.

Is this supposed to be like that or expected?

Thank you

[2022-01-25 14:43] gsdaemon commented on #593
I think the image below illustrates better the problem. Since the fans are supposed to spin and blow in one direction, but the shape of the casing inside the model is mostly mirrored, one of the fans' airflow will hit the X mark and have nearly no effect.

![image](https://user-images.githubusercontent.com/6863250/150997231-c60144d9-af4d-4595-ab9b-7ba50144eb72.png)

[2022-01-25 16:50] Baltojikale commented on #593
Yes the issue is known. left fan is sub optimal.  idea was that fan would still push out excess air but it seems to produce turbulence. model additional Impaler though it was designed to minimize size and use only one cutting tool. thus design has in perfections. after issue came out personally did not have time to access issue.
![image](https://user-images.githubusercontent.com/60143674/151020970

[2022-01-25 22:19] gsdaemon commented on #593
Thanks for confirming the issue. Maybe it's worth mentioning about this problem in the mod description to avoid people mutilating their fans before they realize one of them is not efficient.

[2022-01-29 15:27] Gabbajoe opened #608 "Right_Skirt_Switch request for a 250mm build"
Dear @derekbackus  you made this mod https://github.com/VoronDesign/VoronUsers/tree/master/printer_mods/DerekBackus/Right_Skirt_Switch
Could you please add a 250mm skirt version too?
Please let me know if this is possible.

[2022-02-07 16:22] raymondh2 commented on #406
closing due to inactivity

[2022-02-07 16:22] #406 closed

[2022-02-07 16:22] raymondh2 commented on #409
closing due to inactivity

[2022-02-07 16:22] #409 closed

[2022-02-08 22:42] jaredb03 opened #612 "350mm skirt's are both skirt b on 5 inch Display mount"
The skirts for the 350mm build are the same skirt. Both are the B skirt.

[2022-02-10 13:57] #414 closed

[2022-02-10 13:58] FHeilmann commented on #420
Closing due to inactivity.

[2022-02-10 13:58] FHeilmann commented on #491
This was fixed with PR https://github.com/VoronDesign/VoronUsers/pull/584 Thank you for your report.

[2022-02-10 13:58] #491 closed

[2022-02-10 13:59] FHeilmann commented on #612
Which mod are you referring to?

[2022-02-10 16:46] jaredb03 commented on #612
Sorry the 5 inch mount. https://github.com/VoronDesign/VoronUsers/tree/master/printer_mods/Tircown/Display_mount_5inch

[2022-02-14 01:08] corogoo opened #621 "Badnoob/AB-BN/AB-BN-30_Assy.f3d dragon back size bug!"
https://github.com/VoronDesign/VoronUsers/blob/master/printer_mods/Badnoob/AB-BN/AB-BN-30_Assy.f3d
<img width="1109" alt="image" src="https://user-images.githubusercontent.com/10955343/153784149-0ef454b2-1927-4fd2-8056-d357276e397e.png">

[2022-02-14 05:08] xerootg commented on #593
fwiw - I took an exact-o knife, soldering iron, and file to mine today and ported the left fan cavity to see if I could improve the left fan. yes, you can, substantially so. I removed quite a lot of the material surrounding the m3 bolt shaft. I think with a little reworking of the left air channeling, this is quite an effective fan housing.

[2022-02-19 21:08] LoganFraser opened #635 "Decontaminator nozzle_clean script has a bug that affects right-side mounted brush/buckets."
The last X move in the nozzle_clean script is as follows:
G1 X{bucket_left_width / 4} F{prep_spd_xy}

But for a right side mounted bucket, the line needs to be
 G1 X{bucket_start + (bucket_left_width / 4)} F{prep_spd_xy}

This should also work fine with left side mounted buckets.

@edwardyeeks

[2022-02-22 14:49] nknotts commented on #635
I can confirm this fix worked for me

[2022-02-25 19:58] morktista opened #643 "Voron 2.4, Klipper, Octopus inductive prode help"
Can anyone please help me with a voron 2.4 inductive probe setup on a octopus?
I,m unsure on what to wire it as,
be it the probe port directly, with diode on pg15 or 11,
with a 4.7k across + and trigger on the probe port also what to do in the config file.
im getting devation from 0.01-0.06 its the only thing stopping me finishing the build,
also would the fact i plan to get a octopus pro board as

[2022-02-25 23:07] edtheoverlord opened #644 "volcano AB"
Would it be possible for you to design a volcano AB? and post it on here? Thanks

[2022-02-27 17:30] rogery555 commented on #635
You should explain what the bug is, I have a right sided mount bucket and I'm not sure what this is supposed to fix as I have no issues

[2022-02-27 19:08] LoganFraser commented on #635
The intention of the final X move is to move to just inside the left edge of the left side of the bucket, and does so for a left-side mounted bucket, but crashes the nozzle into the klicky dock if using a right-side mounted bucket. The replacement line adds in the bucket offset from X0 so it correctly moves to inside the bucket for a right side mount.

[2022-02-27 19:13] nknotts commented on #635
I had the same behavior as @LoganFraser, the final move crashed the nozzle into my left-mounted klicky dock. With the replacement line, the final move parks the nozzle to the left edge of the bucket.

[2022-03-01 13:26] acha666 opened #647 "Ender 3 V2 Compatibillity in Ultrawaffles/Ender_3_to_SW"
Can the mod Ultrawaffles/Ender_3_to_SW be used on Ender3 V2 printer?
I have a Ender3 V2 printer and I'm finding a way to mod it.
Thanks in advance
@UltraWaffles

[2022-03-02 19:37] rlaferla commented on #635
Some context for the patch.  Please confirm this is correct:

`      ## Clear from area.
      M117 Cleaned!
      G1 Z{brush_top + clearance_z} F{prep_spd_z}

      {% if enable_purge %}

      ### BUG:  G1 X{bucket_left_width / 4} F{prep_spd_xy}
      G1 X{bucket_start + (bucket_left_width / 4)} F{prep_spd_xy}

      {% endif %}

      ## Restore the gcode state to how it was before the macro.

[2022-03-02 21:38] mesnik opened #648 "Random purge only goes to one side"
I have installed this mod on 2 vorons 2.4 but the purge, as I understand, is supposed to happen one time on the left side and one time on the right, right>

In my case, it happens always on the same side, the right side.

Is there a fix for that? Or how can I change so it uses the left side, which is larger?

Thank you.

[2022-03-02 22:15] RALaRock commented on #643
I set it up using the diagram on page 237 of the R2 Voron manual. The port is PG15. I used:
## For Octopus recommended port with BAT85 diode
pin: ^!PG15 # ^ enables the pull up resistor, ! inverts the logic, PG15 is the port shown on the diagram on page 237.

[2022-03-03 08:11] morktista commented on #643
It's an octopus pro not an octopus, it's in the manual you don't need one

[2022-03-04 02:17] LoganFraser commented on #635
Yes, that's correct.

[2022-03-07 18:20] claudermilk commented on #635
I just came to make the exact same issue request with the exact same solution. It works for me as well.

[2022-03-10 07:57] pgale opened #653 "VEFACH modification needed for r2 exhaust housing"
Not sure if kevinakasam#2097 is around or will see this but the VEFACH parts don't fit the 2.4r2 exhaust housing due to the new screw fixings for the exhaust cover getting in the way. A mod to the coal container would be great if possible.

Thanks.

[2022-03-10 18:27] THT00ls opened #654 "Voron0_MGN9C_X_Axis - lost y travel + Endstop not triggered."
After doing the conversion i realized you lose a few mm of y travel and the y endstop doesn't get triggered anymore, since the linear block hits the a drive before the extrusion hits the endstop. It isn't specified in the readme and i need to design an custom endstop trigger.

[2022-03-10 18:30] #654 closed

[2022-03-10 18:30] THT00ls commented on #654
i thing it has to do with the metal parts...

[2022-03-12 22:38] NAPCAL opened #656 "The Sexbolt mod and automatic Z offset"
The Sexbolt might need a spring under the plunger to provide enough force to push the filament off of the nozzle when doing an automatic Z offset. The microswitch in the Sexbolt has a very light activation force, so the leftover filament (even at filament printing temps) may activate the microswitch before the nozzle is in contact with the plunger.

[2022-03-15 11:22] molekm opened #659 "Display_mount_5inch 350mm has two same skirts, 300/250 have right/left."
Someone uploaded duplicated stl of 350mm skirts.

There is no right/left, both are the same.

[2022-03-16 17:01] #644 closed

[2022-03-17 22:58] mm86133 opened #662 "Can you share cad ? It is not compatible with waveshare DSI 5" (the base has foots set wider apart by around 5mm)"
As in comment, please add cad so anyone could quickly edit it, as importing it and re-meshing it will take at least 20 minutes

[2022-03-18 00:32] VinnyCordeiro commented on #662
CAD for what mod? This is a collective repository, you need to be specific.

[2022-03-22 19:54] jtrmal commented on #540
@spacelab2021 if you are too busy, can I help somehow? I will gladly do cleanup or any other work that needs to be done to finish this.

[2022-03-25 00:41] julianjc84 opened #666 "m3x10 FHCS Voron 2.4r2 Sourcing Guide missing."
Voron 2.4r2 Missing screw references form sourcing guide and not included in kit.

Page 184 x2 required power supply
Page 232 x1 required

M3x10 FHCS not listed in build of materials sourcing guide.
![msedge_ct3scCuJJZ](https://user-images.githubusercontent.com/14962510/160032038-83363862-0422-4236-b856-9343719ab51a.png)
![msedge_SEzX7E4vIb](https://user-images.githubusercontent.com/14962510/16003

[2022-03-25 01:03] julianjc84 commented on #666
Moved issue to Voron 2

[2022-03-25 01:03] #666 closed

[2022-03-26 12:59] cra1gmanning opened #670 "Igus chain 2 hole version?"
Igus chain 2 hole version?

[2022-03-29 17:27] rlaferla opened #673 "Better scrubbing"
Scrubbing currently doesn't always remove excess filament from the nozzle.  The scrubbing routing only scrubs horizontally left to right.  It can be improved by a back and forth scrubbing.  Here's working code BUT it hasn't been tested on other purge bucket locations.  Just the default rear/left on a Trident.

ALSO:  I changed the G1 codes to G0 codes because G1 is intended for moves involving the

[2022-04-01 14:55] raymondh2 commented on #662
@molekm Please specify what mod you are asking about

[2022-04-01 14:55] #643 closed

[2022-04-01 14:56] raymondh2 commented on #643
This is covered in documentation we have

[2022-04-01 14:56] raymondh2 commented on #648
Can you specify WHAT mod and what macro. This repo covers many mods.

[2022-04-01 14:57] raymondh2 commented on #621
@Badnoob-327

[2022-04-01 14:58] raymondh2 commented on #659
Duplicate of #612

[2022-04-01 14:58] #659 closed

[2022-04-01 15:25] craigm-coherix commented on #670
Huvud Chain Mount, printer independent, although in my case Swichwire.

[2022-04-01 18:53] cbc02009 commented on #673
can you provide a link to the mod you're referring to? kind of hard to help otherwise.

[2022-04-01 20:45] rlaferla commented on #673
This is for the nozzle scrubber / purge bucket mod.

[2022-04-05 01:48] spacelab2021 commented on #540
I've done all the modifications to the v1.5 orbiter Afterburner mount, but i still need to update it here. Thanks for reminding me. I've also been working on a orbiter v2 mount so I'll update that as well.

[2022-04-11 18:41] be221b opened #682 "CAD for Voron 1.x/2.x hepa filter exhaust (#625)"
Hi. Any chance we can get the STEP/F3D files for this mod? @marcdebruijn

[2022-04-14 02:44] kaibsora opened #685 "Incorrect/incomplete stl files in repo"
In ultrawaffles e3 to switchwire conversion, there are a couple of issues with the stls.

The left xz left bearing block in the repo does not match the cad file, and also does not align with the right bearing block due to being 5mm longer. the cad file is correct.

The back grill doesnt look to be provided in the stls, and it isnt clear from the cad of which one to use

A very minor issue, but the

[2022-04-15 23:51] UltraWaffles commented on #685
Thank you for the feedback, ill take a look

[2022-04-15 23:53] kaibsora commented on #685
I have created an stl for the generic mount of the left block, based on
your igus mount, if you would like it.

On Fri, Apr 15, 2022, 7:51 PM UltraWaffles ***@***.***> wrote:

[2022-04-15 23:55] UltraWaffles commented on #685
that would be cool if you could share that real quick

[2022-04-16 00:00] kaibsora commented on #685
[Z_bearing block_left_generic.zip](https://github.com/VoronDesign/VoronUsers/files/8498930/Z_bearing.block_left_generic.zip)
Here it is.

[2022-04-16 00:39] UltraWaffles commented on #685
I updated the stls and added ur bearring block to the list. Did u make a z chain lower mount for generic chain by any chance?

[2022-04-16 01:55] kaibsora commented on #685
I did not, i was going to use the one from the sw conversion, but i havent looked into seeing if there is a difference. did you have to modify it in your build?

[2022-04-16 02:39] UltraWaffles commented on #685
I only have a 2020 extrusion igus version. The original iirc, sticks out a bit

[2022-04-16 02:40] kaibsora commented on #685
Ok. I'll update your version with the generic mounting holes, and post it
here.

On Fri, Apr 15, 2022, 10:39 PM UltraWaffles ***@***.***>
wrote:

[2022-04-16 03:14] kaibsora commented on #685
[[a]_z_chain_lower_mount_generic.zip](https://github.com/VoronDesign/VoronUsers/files/8499162/a._z_chain_lower_mount_generic.zip)

[2022-04-18 04:00] kaibsora commented on #685
I also just noticed that the x and z tensioners in your cad model are upside down. Not a huge issue, but something worth looking into

[2022-04-18 20:35] cbc02009 opened #696 "List of Abandoned Mods"
This is a list of mods that are no longer being maintained by the original author. Pull requests can be generated against these mods by anyone, ignoring the normal requirement to get the approval of the original author. PRs against abandoned mods *not* made by the original author should only be merged with multiple reviewer approvals, and should generally be limited to bug fixes and maintenance pa

[2022-04-19 01:37] kaibsora commented on #685
Also, there are apperantly 3 cuts in at least your left deck dxf and 2 cuts in your right dxf. I don't know how to fix that or if that's normal or not.

[2022-04-27 17:00] #673 closed, assigned to nobody

[2022-05-11 10:44] ocgeek opened #725 "ABBN-30 Rapido Print-Head appears to have wrong dimensions"
Hi,
the mount that is published for Rapido appears to be incorrect. The nozzle is too close to the fan shroud.
I sent a message in the discord channel but it has been apparently disregarded.
If so there is a good chance to crash the fan shroud into the bed surface while homing Z...
![Rapido ABBN-30 mount issue](https://user-images.githubusercontent.com/76037248/167831869-80eb8329-7bb6-4d37-8f09-34

[2022-05-11 10:51] ocgeek commented on #725
https://github.com/Badnoob-327/VoronUsers/tree/Rapido_abbn_30
@Badnoob-327

[2022-05-26 00:26] AaronHerrick commented on #725
I'll take a look

[2022-05-30 05:10] skyaee opened #738 "V0.1 Movable Pulley Z Drive Mod erro"
V0.1 Movable Pulley Z Drive Mod!

[image](https://user-images.githubusercontent.com/40803751/170920873-073494db-4e8b-4596-8118-cd191d05a182.png)

The position of the Top Idler will touch the orange protective cover of the nozzle, causing the X-axis to fail to return

[2022-06-05 21:57] rapalax opened #741 "Mod incorrectly marked for V0"
@samwiseg0

According to the BOM for v0.1, The PSU should be a LRS-150-24..

The following mod is marked for compatibility for the V0.1 when there is no PSU cover for the LRS-150-24.
https://github.com/VoronDesign/VoronUsers/blob/master/printer_mods/samwiseg0/lrs_screw_terminal_cover

Edit: The LRS-200 Could work but it doesn't stay in place, and I think its not really supposed to cover the V+ adj

[2022-06-06 17:50] samwiseg0 commented on #741
Thanks for bringing this up. Can you do me a huge favor and print and test this? If this fits properly on a 150 I will PR it to the main repo.

[lrs_150_screw_terminal_cover.stl.zip](https://github.com/VoronDesign/VoronUsers/files/8846458/lrs_150_screw_terminal_cover.stl.zip)

Thanks!

[2022-06-11 02:47] rapalax commented on #741
Tested - works like a charm!

Thanks for doing a new version so quick.

[2022-06-15 22:25] Fuckingnameless opened #747 "v2"
the monster8 v2 has different pinouts like for endstops they are marked with signals in reverse can somebody tell me what i need to change in the example config to get it working?

https://github.com/VoronDesign/VoronUsers/blob/074f90acb8f74ff6ddbd3c25d1cb93c5adf5bd10/firmware_configurations/klipper/RealDeuce/MKS-Makerbase/Monster8_v1.0_003/Voron2_Monster8_Config.cfg

Thank you very much.

[2022-06-16 00:07] Fuckingnameless commented on #747
also what are the pins for bltouch?

[2022-06-16 00:22] Fuckingnameless commented on #747
and the sid_pin for st7920 display?

[2022-06-18 21:12] nhchiu commented on #738
Sorry, I didn't noticed that since I have not used a dragon hotend.
I'll try to make an update with more clearance.
Thanks a lot for the feedback.

[2022-06-24 16:56] adawalli opened #749 "Voron0_MGN9C_X_Axis Carriage Bumps A Motor"
Really love the MGN9C mod for the V0 by @hartk1213

[printer_mods](https://github.com/VoronDesign/VoronUsers/tree/master/printer_mods)/[hartk1213](https://github.com/VoronDesign/VoronUsers/tree/master/printer_mods/hartk1213)/Voron0_MGN9C_X_Axis/

However, even with the carriage provided in this mod, the carriage is touching motor a which prevents the Y Endstop from closing.

![20220624_001538](htt

[2022-07-04 19:58] Urminme opened #754 "Front fan clearance issue with abbn30 and lgx"
I have an LGX installed on my trident and have a voron revo, but previously had a dragon which was fine but with the new voron Revo it seems like there is a few millimeter gap on the fan shroud where it meets the duct, I’m not sure if this is a known issue but I did not see anything about it yet
![image](https://user-images.githubusercontent.com/97814618/177211279-af76de18-5220-47af-aa82-1bc7e51e3

[2022-07-06 20:08] RagingRoosevelt opened #757 "Fix Z-Stepper comments & pins in Trident_Spider_2_2.cfg"
The comment for `[stepper_z2]` says that it is connected to `E1-MOT / M5` which is already used by `[stepper_z]`.  I believe that the comment should instead say `E3-MOT / M7`.

Additionally, the `[tmc2209 stepper_z2]` `uart_pin` is set to `PD15` when it should instead be `PA15` according to [Fysetc's Spider 2.2 documentation](https://wiki.fysetc.com/Spider/#362-spider-v22).

Personally, I think it

[2022-07-15 17:20] slitte opened #761 "alanho/BTT_PITFT50_v2_Mount/ thru hole heat set inserts"
if the holes for the m3 heat insert was a thru hole, a longer m3x8mm could be used. it would generally add more flexability for the screw length

[2022-07-15 17:26] #761 closed

[2022-07-24 13:17] newphreak commented on #754
did you remove the bondtech sticker? It's known to push things forward.

[2022-07-24 13:18] newphreak commented on #749
https://docs.vorondesign.com/community/howto/clee/sensorless_xy_homing.html might be worth checking out

[2022-07-24 13:19] newphreak commented on #738
fix merged

[2022-07-24 13:19] #738 closed

[2022-07-24 13:29] newphreak commented on #653
Should be fixed now, if not tag `@ kevinakasam` in a new issue report.

[2022-07-24 13:29] #653 closed

[2022-07-24 16:17] Urminme commented on #754
Yes I did, I ended up sanding down the spacer which seemed to help, I
triple checked I had all the correct updated parts as well just to be sure

On Sun, Jul 24, 2022 at 6:17 AM newphreak ***@***.***> wrote:

[2022-07-24 17:15] adawalli commented on #749
That's actually what I've been using, however I think this mod should at least document this behavior or modify the a motor

[2022-08-06 18:40] Blinker73 opened #782 "wrong STL file for 2.4R2 Pinned version in Voron2.4_Y_Endstop_Relocation"
Hello,

I wanted to use 2 mods from hartk1213 that change the A motor bracket on a V2.4R2

Pins Mod
https://github.com/VoronDesign/VoronUsers/tree/master/printer_mods/hartk1213/Voron2.4_Trident_Pins_Mod
Y endstop Mod
https://github.com/VoronDesign/VoronUsers/tree/master/printer_mods/hartk1213/Voron2.4_Y_Endstop_Relocation

My PIF provider pointed out a mismatch between both sides of the A motor fr

[2022-08-06 19:01] MapleLeafMakers commented on #782
@hartk1213 any chance you can open a PR with that change?

[2022-08-06 21:34] hartk1213 commented on #782
Yeah not at home currently can when I get home in a few days

[2022-08-30 16:05] CastaBrice commented on #749
https://github.com/nhchiu/VoronMods/tree/main/V0/X_axis_MGN9C
You can print drive frames from this repo

[2022-09-06 12:02] dmason1992 opened #815 "3DPandME/Fannypack DXF missing cutouts for fan airflow"
3DPandME/Fannypack DXF missing cutouts for fan airflow

DXF has been fixed and sent to the user but I couldn't do a github PR from work so this is a placeholder in case I forget.

[2022-09-08 16:22] newphreak commented on #815
Ah, this clears up that mystery.

[2022-09-10 23:42] #815 closed

[2022-09-14 21:59] Blinker73 opened #823 "2.4 compatible mod but not for 2.4r2"
After printing the exhaust_housing_side_fitting mod by togi, I noticed it dit not fit the exhaust cover I had.
Turns out the mod's design is based on the original 2.4 exhaust with only one center screw for the cover where the new 2.4r2 revision has 2 screws for the cover.

It would be nice to mention this information in the readme.

[2022-09-16 00:17] jeffhengesbach opened #824 "Bed Fans - FansFast also based on Chamber temperature threshold"
I've often observed my bed will reach target temp and the bed fans adjust to their fast setpoint as expected.  The issue is the chamber air is still cool enough the fans outrun the bed heater.  Some options for this are to pre-heat at a bed temp below threshold of the fan logic(no fans), manually adjusting the fan speed (too much effort), or setting a lower fast speed value  so the fans won't outr

[2022-09-17 20:03] Blinker73 opened #826 "STL File name typo in printer_mods/RockNLol"
Some files in this forder are suffixed with _r1 or _r2 based on the voron 2.4 revision

This file is just suffixed with _r without a revision number but is actually a 2.4r2 replacement file
https://github.com/VoronDesign/VoronUsers/blob/master/printer_mods/RockNLol/RockNRoll/STLs/%5Ba%5D_z_drive_baseplate_b_rnl_mod_r.stl

[2022-09-18 17:18] bassco commented on #782
for reference: https://github.com/VoronDesign/VoronUsers/pull/817 has the corrected files

[2022-09-19 12:44] lisander-lopez commented on #656
Yes!!! this has been affecting me while I print my SW parts. First layer is no longer "automated", have to fudge around with baby stepping.....

Maybe scrubber on the nozzle would work before Z_CALIBRATION ?

[2022-09-19 12:47] lisander-lopez commented on #593
Any updates on fixing this issue? My cad skills aren't that great for a piece like this!

[2022-09-22 08:57] stefa168 commented on #585
Do you have the edited file, if you got any further with the changes?

[2022-09-22 15:53] wrwindsor opened #829 "samwiseg0/LRS PSU Screw Terminal Cover (24v) needs a trim"
The 24v cover is too thick on the end tabs.

One side was pushing the trim pot over and the other side wouldn't fit between the bus bar and the PS frame. This is a BOM-spec power supply from Digi-Key -- MW LRS-200-24.

I shaved 1mm off of both ends and re-established the chamfers. It's still tight enough to not fall out if tilted.

Attached is the STEP file for my modified version.

[lrs-200_screw

[2022-09-24 12:51] newphreak commented on #782
I think as long as it's linked like it gets when mentioned, it can be
closed automatically when merged.

ons. 21. sep. 2022 kl. 19:24 skrev hart ***@***.***>:

--
Mvh Jon Nilssen

[2022-09-28 14:07] Dr-Info opened #831 "Dual Z Tension Base Plate Mod Fix"
The dual Z tension 2.4R2 is too wide for some lower panels. Had to mod the A and B parts, removing 2mm from the inside edge to for the panel from my LDO kit.

https://github.com/VoronDesign/VoronUsers/tree/master/abandoned_mods/printer_mods/edwardyeeks/V2.4_z_drive_motor_tensioner_mod
![2 4_base_plate_mod_fix](https://user-images.githubusercontent.com/79484322/192800717-c0a5aea9-d85c-4245-87b3-48f

[2022-10-09 16:13] newphreak commented on #823
@togi

[2022-10-09 16:28] newphreak commented on #826
@RockNLol

[2022-10-09 16:29] newphreak commented on #824
@AndrewEllis93

[2022-10-13 19:56] AndrewEllis93 commented on #824
Just acknowledging this, I will take a look when I have some time

[2022-10-19 12:34] flow23 opened #844 "Obsolete link for component"
Hi,

the link to the hour counter from AliExpress is not working anymore.
Maybe this is the replacement: [AliExpress](https://www.aliexpress.com/item/32952929511.html?spm=a2g0o.productlist.main.7.444a7927NUILsv&algo_pvid=d4ae6750-bb90-421e-be7d-fbb5670b8438&algo_exp_id=d4ae6750-bb90-421e-be7d-fbb5670b8438-3&pdp_ext_f=%7B%22sku_id%22%3A%2266378730341%22%7D&pdp_npi=2%40dis%21EUR%215.91%215.91%21%21%

[2022-10-25 08:58] MattiaFontanaErrepinet opened #852 "AB-BN Bowden for Dragon"
Hi I have a hotend dragon. I only found the AB-BN direct is there anything for the bowden version?

[2022-10-28 08:18] schizzofrenik opened #853 "AngryLED wrong profile measurements"
the indicated profile has a different size for stl files. The exact size of the profile is 18x18.

[2022-10-28 17:56] newphreak commented on #844
@MarcPot

[2022-10-28 23:35] MarcPot commented on #844
Not planning to update/review my mod.
Srry

[2022-10-30 01:08] newphreak commented on #853
@42bios

[2022-11-01 02:04] cbc02009 commented on #844
@flow23 the mod is now community maintained, so you're welcome to submit a PR with a fixed link.

[2022-11-02 11:44] newphreak commented on #844
if you do, mention `#844` in the description or a comment so this issue gets linked and closes when it gets merged.

[2022-11-08 14:12] LongDono commented on #829
Yes, ran into the same issue. The right side alone is so wide that it would need the space between the PS frame and the width of the bus bar if I were to fit.

[2022-11-08 14:20] LongDono commented on #635
Looks like this issue should be closed. :)

[2022-11-09 14:53] hadesfactor617 opened #858 "Tool Free Tensioner MOD - STL/CAD differes, STL dimensions are out of spec"
After printing the tool free tensioner, the pulleys would barely fit into the tensioner.  After taking measurements of the original voron Z-idler tensioner, I noticed the dimensions where 1mm off.  I was going to just edit the CAD until I noticed the CAD is completely different geometry then the STL posted.

Also, the README calls for 4x the hardware for 4 idlers, and to print 4 wheels but says to

[2022-11-12 01:44] droans opened #859 "[Suggestion] Switchwire Y Tensioner"
For the Y tensioner by mckurt, I believe that using M3 with a heat set insert instead of the M5 screw for the tensioner screw would perform better.

The design likely would not need to change much. The cap and body would need their center hole shrunk by a couple millimeters and the bearing block will need it's hole shrunk - a small amount for the first 4mm and about 2mm for the rest.

Plastic work

[2022-11-22 00:55] Gimno opened #867 "a_drive_frame_upper_with_jst_y_endstop.stl .Step file"
Hello,
is it possible to get a .step file for this part?

(https://github.com/VoronDesign/VoronUsers/tree/master/printer_mods/hartk1213/Voron2.4_Y_Endstop_Relocation/STLs/Gantry/AB_Drive_Units)/a_drive_frame_upper_with_jst_y_endstop.stl

[2022-11-27 20:48] RainerBetrug commented on #858
[Z Achse Gurtstraffer.zip](https://github.com/VoronDesign/VoronUsers/files/10099165/Z.Achse.Gurtstraffer.zip)